<html>
<head>
  <title>Sample Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/site.css">
</head>
<body ng-app="App" ng-controller="mainCtrl">
  <div class="content">
    <div class="header">
      <h3>
        <div><greatest assurance="compare.assurance"/></div>
        <div><near contender="compare.contender"/></div>
      </h3>
    </div>

    <form>
      <input type="text" ng-model="compare.assurance"/>
      <input type="text" ng-model="compare.contender"/>
    </form>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="../assets/scripts/vendor/react/react.js"></script>
  <script src="../assets/scripts/vendor/react/react-dom.js"></script>
  <script src="../assets/scripts/vendor/ngReact/ngReact.min.js"></script>
  <script type="text/javascript" src="../assets/scripts/react/compiled_react_app.js"></script>
</body>
</html>
